{% import 'bootstrap/wtf.html' as wtf %}

{% macro render_list(category, delete_form) %}
    <tr>
        <td>{{ category.name}}</td>
        <td>
            <form action="{{ url_for('ideas.delete_category_view', category_id=category.id) }}", method="post">
                {{ delete_form.csrf_token }}
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-times-circle"></i>
                </button>
            </form>
        </td>
    </tr>
{% endmacro %}